# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment keys
.env
.env.local
.env.production
.env.development

# Builds
dist/
build/
.next/
out/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backups and Logs
backups/
logs/
*.log
